body{
    font-family: ftltlt;
}

@font-face {
        font-family: ftltlt;
        src: url(ftltlt-webfont.woff);
    }


h2{
    font-size: 56px;
    color: #9000ff;
    font-weight: bold;
}

p:first-of-type{
    font-size: 28px;
    color: #0d0303;

}

a{
    color: #7272dd;
}

a:link {
    text-decoration: none;
}